body {
    background-color:black;
    font-family:arial;
    color:white;
    
    
}

h1{
    color:grey;
    font-family:verdana
}

.maindiv {
    color: black;
    background-color: white;
    width: 500px;
    padding:20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    
}



.col25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-left: 40px;
  }

  .col75 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  footer {
      margin-top: 12px;
  }

  .result1 {
      margin-top: 12px;
      margin-left: 40px;
      
  }

  .result2, .result3, .result4 {
    margin-left: 40px;
    
}